body{
  height: 100vh;
  background-image: url("/public/images/image01.avif");
  background-size: 45rem;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @media (max-width: 768px) {
  body {
    background-size: 45rem;
  }
} */

@media (max-width: 800px) {
  body {
    background-size: 100vw; /* Aumenta ainda mais o tamanho da imagem para telas ainda menores */
  }
}
